.menu {
  text-align: center;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 800px) {
  .menu {
    grid-template-columns: 1fr 1fr;
  }
}