.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.category {
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  width: 150px;
  outline: 2px solid rgba(128, 0, 0, 0.466);
  color: maroon;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.category:is(:focus, :hover) {
  outline-color: maroon;
}

@media screen and (min-width: 500px) {
  .categories {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}